<div class="container">
  <h1>
    Topic Content
  </h1>

  <table class="table">
    <tr>
      <th>
        Topic name
      </th>
    </tr>
    <tr>
      <td>
        <%= @topic.name %>
      </td>
    </tr>

    <tr>
      <th>
        Content
      </th>
    </tr>
    <tr>
      <td>
        <%= @topic.content %>
      </td>
    </tr>
  </table>
</div>
