/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* 全域*/

h1 {
  text-align: center;
}

p {
  margin: 0;
}

/* Flash */

.flash {
  background-color: #dc143c;
}

/* header*/

.head-nav {
  background-color: #191970;
  color: #fff;
  padding-top: 10px;
}

#header {
  margin: 0px;
  background-color: #191970;
  height: 100px;
  color: #fff;
}

#header h1{
  padding-top: 27px;
  margin-top: 0px;
  text-align: center;
}

.nav-btn {
  margin-left: 10px;
}

/**/

.topic-group {
  margin-top: 30px;
}

/* Topic show */

#comment-form {
  margin-bottom: 200px;
}


